/* :root {
  @apply .light;
} */

.light {
  --color-bg-primary: hsl(0, 0%, 98%);
  --color-bg-secondary: #fff;
  --color-text-primary: hsl(200, 15%, 8%);
  --color-text-secondary: hsl(0, 0%, 52%);
}
.dark {
  --color-bg-primary: hsl(207, 26%, 17%);
  --color-bg-secondary: hsl(209, 23%, 22%);
  --color-text-primary: #fff;
  --color-text-secondary: #fff;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
